<dialog class="contenedor-modal" id="modal-nueva" aria-label="Cerrar">
    <a id="cerrar-modal">
        <i data-feather="x"></i>
    </a>

    <div class="form-container">
        <form action="#" method="POST">
            <div class="modal-form">
                <div class="modal-title">
                    <i data-feather="file-plus"></i>
                    <h2> Nueva Actividad</h2>
                </div>

                <div class="modal-form-section">
                    <input
                    type="text"
                    name="actividad"
                    id="actividad"
                    class="modal-form-input"
                    placeholder=" " 
                    required
                    />
                    <label for="actividad" class="modal-form-label"> Actividad </label>
                </div>
                <div class="modal-form-section">
                    <select class="modal-form-input" name="materia" id="materia" required>
                        <option value="" disabled selected hidden></option>
                        <option value="#">materia 1</option> 
                        <option value="#">materia 2</option>                   
                        <option value="#">materia 3</option>
                    </select>
                    <label for="materia" class="modal-form-label"> Materia </label>
                </div>
                <div class="modal-form-section">
                    <select class="modal-form-input" name="tipo" id="tipo" required>
                        <option value="Selecciona una opción" disabled selected hidden></option>
                        <option value="#">tipo 1</option> 
                        <option value="#">tipo 2</option>                   
                        <option value="#">tipo 3</option>
                    </select>
                    <label for="tipo" class="modal-form-label"> Tipo </label>
                </div>
                <div class="modal-form-section">
                    <input
                    type="number"
                    name="puntaje-max"
                    id="puntaje-max"
                    min="0"
                    max="100"
                    class="modal-form-input"
                    placeholder=" " 
                    required
                    />
                    <label for="puntaje-max" class="modal-form-label"> Puntaje máximo a obtener </label>
                </div>
                <div class="modal-form-section">
                    <input
                    type="number"
                    name="puntaje"
                    id="puntaje"
                    min="0"
                    max="100"
                    class="modal-form-input"
                    placeholder=" " 
                    required
                    />
                    <label for="puntaje" class="modal-form-label"> Puntaje obtenido </label>
                </div>
                <div class="modal-form-section">
                    <input
                    type="date"
                    name="fecha"
                    id="fecha"
                    class="modal-form-input"
                    placeholder=" " 
                    required
                    />
                    <label for="fecha" class="modal-form-label"> Fecha </label>
                    <button type="submit" id="crear-modal" class="boton-crear">
                        <span>Crear</span>
                        <i data-feather="plus-circle"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</dialog>